/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
* require materialize
*= require materialize_init
*= require jquery-ui
*= require cookio
*= require animate
*= require file_upload
*= require nav_bar
*= require select_box
*= require home
*= require animation
*= require recipes
*= require_self
*/

body{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    width: 100%;
}
main {
    flex: 1 0 auto;
}
label.error {
    color:#ef5350;
}

i.tiny{
    font-size: 0.5rem !important;
    position: relative;
    top:10px;
    left:10px;
    color:#ef5350;
}
i.med{
    font-size: 3rem !important;
}
select{
    display:inline;
}
input[type="text"]
{
    font-size:1.5rem;
}

label.recipe_text{
    position:static;
}
textarea#input-field{
    height:100px;
}
.recipe_submit_button{
    margin-top:15px;
}


.index-top {
    background-image: url("https://s3.amazonaws.com/cookie-pics/ladycooking+copy.jpg");
    height: 800px;
    width:100%;
    text-align: center;
}
.index-top p{
    padding-top: 10% ;
    margin: 0 auto;
    text-align: center;
    font-size: 4rem;
}
.index-top a{
    font-size: 3rem;
    background-color: #004d40;
    border-radius: 10px;
}
.box{
    width:500px;
    height: 400px;
    margin-left: 1%;
    padding: 0 0;
}

.testing{
    display: inline-block;
}
.card-chefs{
    height: 325px;
    text-align: center;
}
.card-chefs ul{
    text-align: center;
}
.centerize{
    text-align: center;
}
.card{
    overflow: auto;
}
ul.testing{
    display: inline-block;
}
.center-align .aboutus{
    display: inline-flex;
    text-align: center;
}
.aboutus li{
    margin-left: 175px;
}