@font-face {
  font-family: "Knockout";
  src:font-url('Knockout-HTF69FullLiteweight.ttf') format("truetype");

}

@font-face {
  font-family: "Gotham-condensed";
  src:font-url('GothamHTF-MediumCondensed.ttf') format("truetype");
}
@font-face {
  font-family: "Gotham";
  src:font-url('GothamHTF-Medium.ttf') format("truetype");
}
@font-face {
  font-family: "Gotham-bold";
  src:font-url('GothamHTF-Bold2.ttf') format("truetype");
}
@font-face{
  font-family: "ZonaPro";
  src:font-url('ZonaPro.ttf') format("truetype");
}
@font-face{
  font-family: "ZonaPro-thin";
  src:font-url('ZonaPro-thin.ttf') format("truetype");
}

h1,h2,h3,h4,h5,h6{
  font-family:Knockout,sans-serif;
  color:#666;
  letter-spacing: 0.07em;
}
.row{
  margin-bottom:5px;
}
label.recipe_select{
  left:0;
}