// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
//
// .text {
//   background-image: url(cover_image.jpg);
//   -webkit-background-size: cover;
//   -moz-background-size: cover;
//   -o-background-size: cover;
//   background-size: cover;
// }
//
// .become {
//   text-align: center;
// }
//
// .click {
//   top: 10rem;
//   position: relative;
//   text-align: center;
// }
//
//
// .details {
//   top: 20rem;
//   position: relative;
//   text-align: center;
// }

////////////////////////////////////
///////////////////////////////////




/*===================================
============= Services ==============
===================================*/
.spash_screen{
  background-image: url(https://s3.amazonaws.com/cookie-pics/guy.jpg);
  height: 95vh;
    background-position: center center;
    position:relative;
    //top: 50px;

    //background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    border-bottom: solid dimgray 6px;
}
.how_cookio{
  font-size:4rem;
  color: dimgrey;
}
.animations, h2.recipes, h2.recipe{
  font-family: Gotham-bold, sans-serif;
}
#icons_animate li{
  opacity: 0;
}
#how_cookio_animate{
  opacity:0;
}
a.close{
    position: relative;
    left: 75px;
    bottom: 15px;
}
.animations{
  height:100vh;
  width:80%;
  margin: auto
}
.row.text{
  text-align: center;
}
.how_to_cookio_bar{
  border-bottom: solid dimgray 6px;
}
@media only screen and (max-width: 600px) {
  .row.arrows{
    margin-top: 0 !important;
  }
  .row.text {
    .icons {
      border-bottom: dashed dimgrey 2px;
      padding-bottom: 3rem;
    }
    .icons:last-child {
      border-bottom: none;
      padding-bottom: none;
    }
    li.icons{
      padding-bottom: 0.5rem;
    }
  }
  div.select-wrapper{
    font-size:13px !important;
  }
  .cook{
    border-bottom: dashed dimgrey 2px;
    padding-bottom: 1rem !important;
    font-size: 2rem;
  }
  h4.icon_text{
    font-size:1.5rem;
    margin-top:0.4rem !important;
    margin-bottom:1rem !important;
  }
  .how_cookio{
    margin-top:4vh;
  }
  .animations{
    width:90%
  }
  .icon_title {
    height: 4rem;
  }
  .brain_box{
    float:right !important;
    border-bottom:0 !important;
  }
  li .cap{
    margin-top: 1rem;
  }
  li.details{
    padding-bottom:1rem !important;
  }
  .icon_title {
    height: 4em !important;
  }
  .small_arrow{
    position: relative;
    bottom: 2rem;
  }
}
.row.arrows{
  margin-top:4vh;
}
.row.title{
  padding-top:60vh;
}
h2.recipes{

}
.main_cookio{
  color:#F0F0F5;
  font-size:4rem;
  margin:auto;
  text-align:center;
  font-family: ZonaPro, sans-serif;
  letter-spacing: 0.5rem;
}
.row.arrows .col.l4{
  text-align:center;
  i{
    font-size:6rem;
    color: #0288d1;
  }
  i.whiteish{
  color:#F0F0F5;
  }
}
.right_nav_bar{
  margin-right:2rem;
}
.cook {
  border-bottom: dashed dimgrey 2px;
}
.icon_title{
  height:6em;
}
.cook.center{
  margin:auto;
}
@media only screen and (min-width: 600px){
  .row.text {
    padding-top: 5vh;
  }
  .how_cookio{
    margin-top:10vh;
  }

}
.center_text{
  margin:auto;
  width:auto;
}
@media only screen and (max-width: 600px) {
  body {
    /* The file size of this background image is 93% smaller
       to improve page load speed on mobile internet connections */
    //background-image: url(images/background-photo-mobile-devices.jpg);
  }
}
#services {
    padding-top: 1px;
    height: 100vh;
    // background: #F3F3F3;
    // overflow: hidden;
    border-bottom: 6px solid #858585;

    /* Location of the image */
    background-image: url(https://s3.amazonaws.com/cookie-pics/guy.jpg);

    /* Background image is centered vertically and horizontally at all times */

    /* Background image doesn't tile */

    /* Background image is fixed in the viewport so that it doesn't move when
       the content's height is greater than the image's height */

    /* This is what makes the background image rescale based
       on the container's size */

    /* Set a background color that will be displayed
       while the background image is loading */







}
#services .inner {
    padding-bottom: 31px;
}
#services ul {
    padding: 46px 0 0 0;
}
#services ul li {
    float: left;
    padding: 0 20px 0 0;
    max-width: 290px;
    margin: 0 0 36px 0;
}
#services ul li span {
    float: left;
    width: 56px;
    height: 56px;
    line-height: 56px;
    text-align: center;
    font-size: 35px;
    font-family: 'linecons';
    color: #666d89;
    background: transparent;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -khtml-border-radius: 50%;
    border-radius: 50%;
    border: 2px solid #666d89;
    margin: 0 10px 0 0;
}
#services ul li:hover span {
    color: #eb5055;
    border: 2px solid #eb5055;
    -o-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
}



/*===================================
============= Services ==============
===================================*/

#howto {
    // shape-outside: circle(50%);
    // width: 300px;


    padding-top: 1px;
    // background: #F3F3F3;
    overflow: hidden;
    border-bottom: 6px solid #ffffff;
    height: auto;

}
#howto .inner {
    padding-bottom: 31px;
}
#howto ul {
    padding: 46px 0 0 0;
}
#howto ul li {
    float: left;
    padding: 0 20px 0 0;
    max-width: 290px;
    margin: 0 0 36px 0;
}
// #howto ul li span {
//     float: left;
//     width: 56px;
//     height: 56px;
//     line-height: 56px;
//     text-align: center;
//     font-size: 35px;
//     font-family: 'linecons';
//     color: #666d89;
//     background: transparent;
//     -moz-border-radius: 50%;
//     -webkit-border-radius: 50%;
//     -khtml-border-radius: 50%;
//     border-radius: 50%;
//     border: 2px solid #666d89;
//     margin: 0 10px 0 0;
// }
// #howto ul li:hover span {
//     color: #eb5055;
//     border: 2px solid #eb5055;
//     -o-transition-duration: 0.5s;
//     -moz-transition-duration: 0.5s;
//     -webkit-transition-duration: 0.5s;
//     transition-duration: 0.5s;
// }



@media only screen and (max-width: 767px) {
  body {
    /* The file size of this background image is 93% smaller
       to improve page load speed on mobile internet connections */
    //background-image: url(images/background-photo-mobile-devices.jpg);
  }
}

.message_content{
  margin-bottom:0.5rem;
  margin-top:0.5rem;
  font-size:1.5rem;
}


// body {
//   /* Location of the image */
//   background-image: url(cover_image.jpg);
//
//   /* Background image is centered vertically and horizontally at all times */
//   background-position: center center;
//
//   /* Background image doesn't tile */
//   background-repeat: no-repeat;
//
//   /* Background image is fixed in the viewport so that it doesn't move when
//      the content's height is greater than the image's height */
//   background-attachment: fixed;
//
//   /* This is what makes the background image rescale based
//      on the container's size */
//   background-size: cover;
//
//   /* Set a background color that will be displayed
//      while the background image is loading */
//   background-color: #464646;
// }





/*===================================
======= 8-Bit ME  ==============
===================================*/

#bitme {

    // height: 500px;
    // width: 5%;
    // margin-left: 35vw;
    // margin-right: auto;
    position: relative;
    top: 15vw;
    margin:auto;
    // margin-top: 38vw;
    // -webkit-transition: top 1.5s;
    // -moz-transition: top 1.5s;
    // -o-transition: top 1.5s;
    -webkit-animation: animation 10001ms linear both;
    animation: animation 10001ms linear both;

}


@media screen and (max-width: 600px) {

    #bitme {
        left: 2%;
    }
 }

// #bitme p {
//   font-family: "ZonaPro";
//   font-size: 7rem;
//   color: #FFF;
// }

// #bitme:hover
// {
//     top: -10px;
//     -webkit-transition: top 0.3s;
//     -moz-transition: top 0.3s;
//     -o-transition: top 0.3s;
// }

/*===================================
======= Hello ==============
===================================*/

#hello {
    position: relative;
    // top: -500px;
    width: 80%;
    // -webkit-animation: animation 2000ms linear both;
    // animation: animation 2000ms linear both;
}
#hello p {
    position: relative;
    margin-top: 2em;
    font-size: 3em;
    top: -2.5em;
    color: black;
    font-family: sabo;
}



/*===================================
======= TEXT ==============
===================================*/

.cook{
  text-align: center;
  padding-bottom: 15px;
}

.pointer {
  // padding-top: 50px;
  padding-bottom: 50px;
  position: relative;
  padding-left: 35px;

}

.form{
  padding-bottom: 50px;
  position: relative;
  padding-left: 50px;
}

.head{
  padding-bottom: 50px;
  position: relative;
  padding-left: 35px;
}

.hat {
  // width: 50%;
  // height: 50%;
  position: relative;
  padding-left: 35px;
  padding-bottom: 50px;
  // -webkit-animation: animation 3500ms linear both;
  // animation: animation 3500ms linear both;
}

#res {
  padding-bottom: 10px;

  position: relative;

  // top: 50px;
  font-family: "Gotham-condensed"
}

#paper{
  padding-bottom: 10px;
  // position: relative;
  // top: 50px;
  font-family: "Gotham-condensed"
}

#brain {
  padding-bottom: 10px;
  // position: relative;
  // top: 50px;
  font-family: "Gotham-condensed"
}

#cap {
  padding-bottom: 10px;
  // position: relative;
  // top: 50px;
  font-family: "Gotham-condensed"
}


/* icon prefix focus color */
 .input-field .prefix.active {
   color: #1976D2;
 }

 .input-field .prefix.active {
   color: #1976D2;
 }



 /* label underline focus color */
//input[type=text]:focus {
// border-bottom: 1px solid #0288d1;
// box-shadow: 0 1px 0 0 #0288d1;
//
//}
//
//input[type=password]:focus {
// border-bottom: 1px solid #0288d1;
// box-shadow: 0 1px 0 0 #0288d1;
//}


input[type="text"], input[type="password"], input[type="email"], input[type="url"], input[type="time"], input[type="date"], input[type="datetime-local"], input[type="tel"], input[type="number"], input[type="search"], textarea.materialize-textarea {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background-color: transparent;
  border-color: -moz-use-text-color -moz-use-text-color #83D3FD;
  border-image: none;
  border-radius: 0;
  border-style: none none solid;
  border-width: medium medium 3px;
  box-shadow: none;
  box-sizing: content-box;
  font-size: 1rem;
  height: 3rem;
  margin: 0 0 15px;
  outline: medium none;
  padding: 0;
  transition: all 0.3s ease 0s;
  width: 100%;
}
.select-wrapper select.select-dropdown {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background-color: transparent;
  border-color: -moz-use-text-color -moz-use-text-color #83D3FD;
  border-image: none;
  border-style: none none solid;
  border-width: medium medium 3px;
  cursor: pointer;
  display: block;
  font-size: 1rem;
  height: 3rem;
  line-height: 3rem;
  margin: 0 0 15px;
  outline: medium none;
  overflow: hidden;
  padding: 0;
  position: relative;
  width: 100%;
}
.container .row.single_recipe_partial {
  margin-left: 0;
  margin-right: 0;
}
.material-icons {
  color: #1de9b6;
}
i.edit_message{
  position:relative !important;
  top:0.1rem;
}
.all_message_content{
  padding-left:0.5rem;
}
.user_Message_name{
  display:inline;
  color:#00bfa5;
  font-weight:bold;
}
.chef_Message_name{
  display:inline;
  color:#0288d1;
  font-weight:bold;
}
.message_message{
  display:inline;
}
input#message_message{
  margin-left:0;
}
input.datepicker.valid, input.valid[type="text"], input.valid[type="text"]:focus, input.valid[type="password"], input.valid[type="password"]:focus, input.valid[type="email"], input.valid[type="email"]:focus, input.valid[type="url"], input.valid[type="url"]:focus, input.valid[type="time"], input.valid[type="time"]:focus, input.valid[type="date"], input.valid[type="date"]:focus, input.valid[type="datetime-local"], input.valid[type="datetime-local"]:focus, input.valid[type="tel"], input.valid[type="tel"]:focus, input.valid[type="number"], input.valid[type="number"]:focus, input.valid[type="search"], input.valid[type="search"]:focus, textarea.materialize-textarea.valid, textarea.materialize-textarea.valid:focus {
  border-bottom: 3px solid #83D3FD;
  box-shadow: 0 1px 0 0 #83D3FD;
}
select.minimal {
  background-image: linear-gradient(45deg, transparent 50%, #83D3FD 50%), linear-gradient(135deg, #83D3FD 50%, transparent 50%), linear-gradient(to right, #83D3FD, #83D3FD);
  background-position: calc(100% - 20px) calc(1em + 2px), calc(100% - 15px) calc(1em + 2px), calc(100% - 2.5em) 0.5em;
  background-repeat: no-repeat;
  background-size: 5px 5px, 5px 5px, 1px 1.5em;
}
select.minimal:focus {
  background-image: linear-gradient(45deg, #0288d1 50%, transparent 50%), linear-gradient(135deg, transparent 50%, #0288d1 50%), linear-gradient(to right, #0288d1, #0288d1);
  background-position: calc(100% - 15px) 1em, calc(100% - 20px) 1em, calc(100% - 2.5em) 0.5em;
  background-repeat: no-repeat;
  background-size: 5px 5px, 5px 5px, 1px 1.5em;
  border-color: #0288d1;
  outline: 0 none;
}
input[type="text"]:focus:not([readonly]), input[type="password"]:focus:not([readonly]), input[type="email"]:focus:not([readonly]), input[type="url"]:focus:not([readonly]), input[type="time"]:focus:not([readonly]), input[type="date"]:focus:not([readonly]), input[type="datetime-local"]:focus:not([readonly]), input[type="tel"]:focus:not([readonly]), input[type="number"]:focus:not([readonly]), input[type="search"]:focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: 3px solid #0288d1;
  box-shadow: 0 1px 0 0 #0288d1;
}
/* label focus color */
.input-field input[type=text]:focus + label {
  color: #0288d1;
}

.input-field input[type=password]:focus + label {
  color: #0288d1;
}
.tabs.profile{
  margin-top:20px;
  margin-bottom:10px;
}
.tabs.profile a{
  color:#0288d1 !important;
}
.profile div.indicator{
 background-color: #0288d1 !important;
}
.row .col.offset-m3 {
    margin-left: 25%;
}
.tabs .indicator{
  height:10px !important;
  top:45px;
}
button.submit_button {
  margin-top: 20px;

}

i.material-icons.top{
  color:black;
}
/* valid color */
.input-field input[type=text].valid {
  border-bottom: 1px solid #40c4ff;
  box-shadow: 0 1px 0 0 #40c4ff;
}

.input-field input[type=password].valid {
  border-bottom: 1px solid #40c4ff;
  box-shadow: 0 1px 0 0 #40c4ff;
}

i.material-icons.chefs{
  position:relative;
  top:0.4rem;
  margin-right:0.4rem;
}
.row.chef{
  margin-bottom:0;
}
.col.left_chef_city{
  padding-left:0;
}
span.date{
  margin-right:1.5rem;
}
.image.chef_page{
  border-bottom:dashed #40c4ff 2px;
  padding-bottom:0.5rem;
}
span.time{
  margin-left:1.5rem;
  margin-right:0.5rem;
}
span.city{
  margin-left:0.5rem;
}
.btn.toggle_button{
  height:28px;
  line-height:28px;
  padding:0 1.5rem;
}
span.tab{
  font-weight:bold;
  font-size:1.5rem;
}
span.address_header{
  font-weight:bold;
}
.btn.toggle_button{
 background-color: #0288d1;
}
div.toast a{
  color: #f4ff81;
}
.span.toast{
  margin-right:0.7rem;
  font-weight:bold !important;
}
@-webkit-keyframes animation {
  0% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -300, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -300, 0, 0, 1); }
  0.13% { -webkit-transform: matrix3d(3.905, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -293.463, 0, 0, 1); transform: matrix3d(3.905, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -293.463, 0, 0, 1); }
  0.26% { -webkit-transform: matrix3d(4.554, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -287.22, 0, 0, 1); transform: matrix3d(4.554, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -287.22, 0, 0, 1); }
  0.57% { -webkit-transform: matrix3d(3.039, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -271.692, 0, 0, 1); transform: matrix3d(3.039, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -271.692, 0, 0, 1); }
  0.88% { -webkit-transform: matrix3d(1.581, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -256.729, 0, 0, 1); transform: matrix3d(1.581, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -256.729, 0, 0, 1); }
  1.2% { -webkit-transform: matrix3d(1.034, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -241.883, 0, 0, 1); transform: matrix3d(1.034, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -241.883, 0, 0, 1); }
  1.51% { -webkit-transform: matrix3d(0.947, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -227.656, 0, 0, 1); transform: matrix3d(0.947, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -227.656, 0, 0, 1); }
  2.76% { -webkit-transform: matrix3d(1.001, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -174.596, 0, 0, 1); transform: matrix3d(1.001, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -174.596, 0, 0, 1); }
  4.01% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -129.056, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -129.056, 0, 0, 1); }
  4.1% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -125.912, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -125.912, 0, 0, 1); }
  5% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -98.483, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -98.483, 0, 0, 1); }
  8.11% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -31.647, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -31.647, 0, 0, 1); }
  12.11% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 5.53, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 5.53, 0, 0, 1); }
  16.12% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 13.007, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 13.007, 0, 0, 1); }
  27.23% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 2.352, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 2.352, 0, 0, 1); }
  38.34% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.311, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.311, 0, 0, 1); }
  60.56% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0.007, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0.007, 0, 0, 1); }
  82.78% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  100% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
}

@keyframes animation {
  0% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -300, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -300, 0, 0, 1); }
  0.13% { -webkit-transform: matrix3d(3.905, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -293.463, 0, 0, 1); transform: matrix3d(3.905, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -293.463, 0, 0, 1); }
  0.26% { -webkit-transform: matrix3d(4.554, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -287.22, 0, 0, 1); transform: matrix3d(4.554, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -287.22, 0, 0, 1); }
  0.57% { -webkit-transform: matrix3d(3.039, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -271.692, 0, 0, 1); transform: matrix3d(3.039, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -271.692, 0, 0, 1); }
  0.88% { -webkit-transform: matrix3d(1.581, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -256.729, 0, 0, 1); transform: matrix3d(1.581, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -256.729, 0, 0, 1); }
  1.2% { -webkit-transform: matrix3d(1.034, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -241.883, 0, 0, 1); transform: matrix3d(1.034, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -241.883, 0, 0, 1); }
  1.51% { -webkit-transform: matrix3d(0.947, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -227.656, 0, 0, 1); transform: matrix3d(0.947, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -227.656, 0, 0, 1); }
  2.76% { -webkit-transform: matrix3d(1.001, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -174.596, 0, 0, 1); transform: matrix3d(1.001, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -174.596, 0, 0, 1); }
  4.01% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -129.056, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -129.056, 0, 0, 1); }
  4.1% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -125.912, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -125.912, 0, 0, 1); }
  5% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -98.483, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -98.483, 0, 0, 1); }
  8.11% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -31.647, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -31.647, 0, 0, 1); }
  12.11% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 5.53, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 5.53, 0, 0, 1); }
  16.12% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 13.007, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 13.007, 0, 0, 1); }
  27.23% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 2.352, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 2.352, 0, 0, 1); }
  38.34% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.311, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.311, 0, 0, 1); }
  60.56% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0.007, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0.007, 0, 0, 1); }
  82.78% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  100% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
}
