div.col.recipe{
  padding:0;
}
ul.collapsible.recipe{
  margin-top:0;
}
div.image img{
  position:relative;
  top:6.25px;
}
.recipe_dropdown{
  margin-top:5px;
}
.recipe_text{
  padding-left:10px;
  padding-right:10px;
  padding-top:5px;
  border-top: dotted dimgrey 1px;
}
.admin_recipe_buttons{
  float:right;
  margin-top:13px;
  span{
    margin-right:10px;
  }
}
h2.recipe{
  margin-bottom:1rem;
}
h6.recipe_link{
  margin-top:0;
  margin-bottom:20px;
  border-bottom: dashed #85D2FF 1px;
}
.recipe_foldout_title{
  padding:10px;
  font-size:1.3rem;
  border-bottom:dotted dimgrey 1px;
}
img.responsive-img{
  width:100%;
}
@media screen and (min-width: 600px) {
  .row .col.offset-m1 {
    margin-left: 6%;
  }
  .single_recipe_partial .recipe_info {
    margin-left: 1.8% !important;
  }
}
@media screen and (max-width: 600px) {
  .container.recipe_card{
    width:100%;
  }

}
.recipe_card{
  min-height:600px;
  //background:lightskyblue;
}
.single_recipe_partial .recipe_info{
  margin-top: 1.5% !important;
}

//This is message Card
.single_recipe_partial .reservation_1messages{
  margin-top: 1.5% !important;
}

@media screen and (min-width: 600px) {
  .row .col.offset-m1 {
    margin-left: 6%;
  }
  .single_recipe_partial .recipe_info {
    margin-left: 1.8% !important;
  }
  .reservation_1messages{
    border-left:dotted #666 2px;
    min-height:500px;
    margin-left:1.5% !important;
  }
}
.responsive_single_img{
  width:100%;
  height:auto;
}

.reservation_1messages{
}

.collapsible-body.recipe_box{
  padding: 0px 1rem;
  background-color: #FFF;
  border-bottom: solid #DDD 1px ;
}
.rh3{
  font-weight:bold;
}
.rh3 span{
  font-weight:normal;
  margin-left:0.4rem;
}
.reservation_1info{
  padding: 0px 1rem;
}
.message_container_user{
  border-bottom: 1.8px dashed #38E8B2;
  padding-left:0.5rem;
}

.message_container_chef{
  border-bottom:1.8px dashed #85D2FF;
  padding-left:0.5rem;
}